body {
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* the container that holds all of the food cards */
.container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* this is the card container */
.card {
    margin: 10px 5px;
    border-radius: 15px;
    width: 45%;
    background-color:antiquewhite;
}

/* these are the children elements inside the card container */
.card img {
    height: 10em;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.card div {
    display: flex;
}
.card div p {
    width: 85%;
    padding: 5px 12px;
    font-weight: 650;
}
.card div i {
    width: 10%;
}

/* class to hide the display, add this class to whatever you want to remove from the display */
.hidden {
    display: none;
}